/* font-family: 'Indie Flower', cursive; */
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: #111;
    box-sizing: border-box;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: 50;
    text-align: center;
    margin: 1rem 0 3rem;
    font-family: 'Indie Flower', cursive;
}

.title{
    color: lime;
    text-transform: uppercase;
    font-weight:  800;
}

.inputDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
*/